@import './globals';
@import './variables';
@import './header';

.accnt-1 {
    justify-content: space-between;

    .accnt-1-1 {
        width: fit-content;
        height: fit-content;

        img {
            width: 20vw;
            height: 74vh;
            object-fit: cover;
            filter: brightness(95%);
        }
    }
    .accnt-1-2 {
        margin-left: 4rem;
        background-color: #fff;
        height: 74vh;
        padding: 3rem;
        line-height: 1.75rem;
        font-size: 0.9rem;

        h3 {
            font-size: 1.35rem;

            position: relative;
            z-index: 1;
            
            &:before {
                border-top: 2px solid #dfdfdf;
                content:"";
                position: absolute;
                top: 50%; 
                right: 0; 
                bottom: 0;
                z-index: -1;
            }
        
            span { 
                background-color: #fff; 
                padding-right: 0.75rem;
                @include fontGrad-2;
            }
        }

        .accnt-1-2-1 {
            gap:  1.5rem 2.5rem;
            padding-bottom: 2rem;

            .i-1 {
                grid-column: 1 / span 2;
                grid-row: 1;
                &:before {
                    left: 10rem; 
                    width: calc(100% - 10rem);    
                }
            }
            .i-2 {
                grid-column: 1;
                grid-row: 2;
            }
            .i-3 {
                grid-column: 2;
                grid-row: 2;
            }    
        }
        .accnt-1-2-2 {
            gap:  1.5rem 2.5rem;
            .bold {
                font-weight: 500;
                font-size: 1rem;
                line-height: 2.5rem;
            }

            .i-4 {
                grid-column: 1 / span 2;
                grid-row: 1;

                &:before {
                    left: 6.75rem; 
                    width: calc(100% - 6.75rem);    
                }
            }
            .i-5 {
                grid-column: 1;
                grid-row: 2;
                line-height: 1.25rem;
            }
            .i-6 {
                grid-column: 2;
                grid-row: 2;
                line-height: 1.25rem;
            }
            .i-7 {
                grid-column: 1 / span 2;
                grid-row: 3;

                text-align: center;
                font-size: 0.95rem;
                line-height: 1.5rem;
                letter-spacing: 0.25px;
                color: $primaryColor;
                font-weight: 500;

                padding: 1rem;
                background-color: hsla(198, 74%, 23%, 0.075);
                margin-top: 2.5rem;
            }
        }
        .accnt-1-2-3 {
            a {
                width: fit-content;
                margin-top: 1rem;
                padding: .65rem 1.75rem;
                font-weight: 500;
                background-color: $primaryColor;
                color: white;
                border-radius: 1rem;
                font-size: 1.05rem;
                letter-spacing: 2px;
                filter: drop-shadow(0 2px 0 rgba(130, 130, 130, 0.5));
                transition: .2s linear;
            }
            a:hover {
                background-color: $secondaryColor;
            }
            a:active {
                position: relative;
                top: 2px;
                filter: none;
            }
        }
    }
}
.accnt-2 {
    .bookPic {
        img {
            width: auto;
            height: 30vh;
            object-fit: cover;
            border: 0.25rem solid hsla(198, 74%, 23%, 0.5);
        }    
    }
    .bookIntro {
        .introVer-2 {
            display: none;
        }
        padding: 2rem 4rem;
        border-radius: 1.5rem;
        h3 {
            font-size: 1.2rem;
            padding-bottom: 1.5rem;
            color: $primaryColor;
        }
        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }
    .accnt-2-1 {
        padding-bottom: 1.25rem;
        div {
            margin-left: 2rem;
            background-color: #fff;
        }
    }
    .accnt-2-2 {
        padding-bottom: 1.5rem;
        div {
            margin-right: 2rem;
            text-align: right;
            background-color: #fff;
        }
    }
    .accnt-2-3 {
        margin-top: 0.75rem;
        a {
            padding: .85rem 2rem;
            background-image: $gradientBtn;
            border-radius: 1.15rem;
            color: #fff;
            font-size: 1rem;
            transition: .1s linear;
            font-weight: 500;
        }
        a:hover {
            opacity: 0.90;
        }
        a:active {
            background-image: linear-gradient(0deg, $secondaryColor 10%, $primaryColor 80%, $secondaryColor);
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .accnt-1 {
        .accnt-1-1 {
            padding-bottom: 0;
            img {
                width: 20vw;
                height: 76vh;
            }
        }
        .accnt-1-2 {
            height: 76vh;
            padding: 0 2rem;
            margin-left: 1.5rem;
            h3 {
                font-size: 1.15rem;
            }
            p {
                font-size: .8rem;
                line-height: 1.25rem;
            }
            .accnt-1-2-1 {
                padding-bottom: 1rem;
                gap: .75rem;
            }
            .accnt-1-2-2 {
                gap: .75rem;
                .bold {
                    font-size: .85rem;
                }
                .i-7 {
                    margin-top: .8rem;
                    font-size: .8rem;
                    letter-spacing: .35px;
                }
            }
            .accnt-1-2-3 {
                a {
                    font-size: .9rem;
                    padding: .5rem 1.5rem;
                }
            }
        }
        
    }
    .accnt-2 {
        .bookPic {
            img {
                height: 24vh;
            }
        }
        .bookIntro {
            padding: 2.25rem 1.75rem;
            h3 {
                padding-bottom: .8rem;
                font-size: 1rem;
            }
            p {
                font-size: .775rem;
                line-height: 1.2rem;
            }
        }
        .accnt-2-3 {
            margin-top: 1rem;
            a {
                padding: .75rem 1.5rem;
                font-size: 1rem;
            }
        }
    }
}
@media only screen and (max-width: 912px) {
    .accnt-1 {
        flex-direction: column;
        justify-content: center;
        .accnt-1-1 {
            img {
                width: 78vw;
                height: 16vh;
            }
        }
        .accnt-1-2 {
            padding: 2rem 3.5rem;
            height: 46vh;
            margin: 1.5rem 0 0 0;
            h3 {
                font-size: 1.25rem;
            }
            p {
                font-size: 1rem;
                line-height: 1.75rem;
            }
            .accnt-1-2-1 {
                padding-bottom: 3.5rem;
            }
            .accnt-1-2-2 {
                .bold {
                    font-size: 1.1rem;
                }
                .i-7 {
                    margin-top: 1rem;
                    font-size: 1rem;
                }
            }
            .accnt-1-2-3 {
                a {
                    font-size: 1.1rem;
                }
            }
        }
    }
    .accnt-2 {
        .bookPic {
            img {
                height: 16vh;
            }
        }
        .bookIntro {
            h3 {
                font-size: 1.25rem;
            }
            p {
                font-size: .9rem;
                line-height: 1.5rem;
            }
        }
        .accnt-2-3 {
            a {
                font-size: 1.25rem;
                padding: 1rem 2.5rem;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .accnt-1 {
        .accnt-1-1 {
            img {
                height: 12vh;
            }
        }
        .accnt-1-2 {
            padding: 2rem 3.5rem;
            p {
                font-size: .8rem;
            }
            .accnt-1-2-2 {
                .i-7 {
                    margin-top: 1rem;
                    font-size: .8rem;
                }
            }
            .accnt-1-2-3 {
                font-size: .95rem;
            }
        }
    }
    .accnt-2 {
        .bookPic {
            img {
                height: 24vh;
            }
        }
        .bookIntro {
            p {
                font-size: .75rem;
            }
        }
        .accnt-2-3 {
            a {
                font-size: .9rem;
                padding: .75rem 1.25rem;
            }
        }
    }
}
@media only screen and (max-width: 540px) {
    .accnt-1 {
        .accnt-1-1 {
            padding-bottom: .5rem;
            img {
                height: 12vh;
            }
        }
        .accnt-1-2 {
            margin-top: 0;
            padding: 1.25rem 2rem;
            height: fit-content;
            p {
                font-size: .75rem;
                line-height: 1.25rem;
            }
            h3 {
                font-size: 1rem;
            }
            .accnt-1-2-1 {
                padding-bottom: 2rem;
                gap: .5rem 1rem;
            }
            .accnt-1-2-2 {
                gap: .5rem 1rem;
                .bold {
                    font-size: .9rem;
                }
                .i-7 {
                    margin-top: .5rem;
                    line-height: 1rem;
                }
            }
            .accnt-1-2-3 {
                a {
                    font-size: .9rem;
                    padding: .25rem 1.5rem;
                }
            }
        }
    }
    .accnt-2 {
        .bookIntro {
            .introVer-1 {
                display: none;
            }
            .introVer-2 {
                display: block;
            }
            h3 {
                font-size: .9rem;
            }
            padding: 1rem 1.5rem;
        }
        .accnt-2-3 {
            margin-top: .5rem;
        }
    }
}
@media only screen and (max-width: 414px) {
    .accnt-1 {
        .accnt-1-1 {
            padding-bottom: .5rem;
            img {
                height: 14vh;
            }
        }
        .accnt-1-2 {
            padding: 1.75rem .55rem;
            height: fit-content;
            margin-top: 0;
            p {
                font-size: .775rem;
                line-height: 1.5rem;
            }
            .accnt-1-2-1 {
                padding-bottom: 1rem;
            }
            .accnt-1-2-2 {
                .bold {
                    font-size: .8rem;
                }
                .i-7 {
                    display: none;
                }
            }
            .accnt-1-2-3 {
                a {
                    font-size: .85rem;
                    padding: .25rem 1.25rem;
                    border-radius: .5rem;
                }
            }
        }
    }
    .accnt-2 {
        .bookPic {
            img {
                height: 12vh;
            }
        }
        .bookIntro {
            margin: 0;
            padding: 1rem .75rem;

            .introVer-1 {
                display: none;
            }
            .introVer-2 {
                display: block;
            }
            h3 {
                font-size: 1rem;
                padding-bottom: .5rem;
            }
            p {
                font-size: .825rem;
                line-height: 1.45rem;
            }
        }
        .accnt-2-1 {
            flex-direction: column;
            div {
                margin: 0;
                text-align: center;
            }
        }
        .accnt-2-2 {
            flex-direction: column-reverse;
            div {
                margin: 0;
                text-align: center;
            }
        }
        .accnt-2-3 {
            margin-top: .5rem;
        }
    }
}
@media only screen and (max-width: 375px) {
    .accnt-1 {
        .accnt-1-1 {
            padding-bottom: .25rem;
            img {
                height: 12vh;
            }
        }
        .accnt-1-2 {
            padding: 1.25rem 1rem;
            p {
                font-size: .7rem;
                line-height: 1.225rem;
            }
            .accnt-1-2-2 {
                p {
                    line-height: 1.15rem;
                    .bold {
                        font-size: .775rem;
                        padding: 0;
                    }
                }
                .i-7 {
                    display: none;
                }
            }
            .accnt-1-2-3 {
                a {
                    font-size: .85rem;
                    padding: .25rem 1.25rem;
                    border-radius: .5rem;
                }
            }
        }
    }
    .accnt-2 {
        .bookPic {
            img {
                height: 12vh;
            }
        }
        .bookIntro {
            margin: 0;
            .introVer-1 {
                display: none;
            }
            .introVer-2 {
                display: block;
            }
            h3 {
                font-size: .95rem;
            }
            p {
                font-size: .775rem;
                line-height: 1.35rem;
            }
            padding: .8rem 1.25rem;
        }
        .accnt-2-1 {
            flex-direction: column;
            div {
                margin: 0;
                text-align: center;
            }
        }
        .accnt-2-2 {
            flex-direction: column-reverse;
            div {
                margin: 0;
                text-align: center;
            }
        }
        .accnt-2-3 {
            margin-top: .5rem;
        }
    }
}